html *{
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 color: white;
 background-color: black;
}

img{
  width: 200px;
}
.grid-container{
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
}

.headerForm{
  text-align: center;
}

input{
   width: 150px;
   height:30px;
}

.grid-item{
  border-color: #97FB57;
  border-width: 10px;
}







