.submit{
    background-color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    border: none;
    color: #393E41;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    font-size: 13px;
  }

  .submit:hover {
    font-style: italic;
    background-color:#7FEFBD;
  }
  
  .submit:active {
    color: red;
  }

  .sportInput{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

option, datalist{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
input{
    border-style: solid;
}