.flex-container{
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        align-items: center;
}

.container{
        color: #393E41;
}

.leaguePhoto{
        width: 330px;
        height: 250px;
}
