.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 0px;
  background-color:white;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.image{
  height: 60px;
  width: 400px;
}


.nav-title {
  font-size: 24px;
  font-weight: 700;
  padding-left: 10px;
  margin-right: 30px;
  
}

.navLink {
  font-family: 'Tourney', cursive;
  display: inline-block;
  background-color: #7FEFBD;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  font-style: italic;
}
